.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    }
    .genre{
        width: 20%;
        display: inline-block;
        border: 3px solid white;
        box-sizing: border-box;
        text-align: center;
        padding: 1.5em;
        transition: .2s ease-in;
    
    }
    .genre:hover{
        background-color: lightskyblue;
        cursor: pointer;
        transform: scale(1.1);
    }
    .genre h2{
        color: blue;
        font-size: 1.5em;
        user-select: none;
    }